<H2>Añadir Comentario</h2>
<form method="post" action="/shop/<%= shopid %>/comments">
	<input type="text" id="comPhoSpot" name="commentPhotoShop[texto]" placeholder="escribe aqui..."/><br>
	<input type="text" name="commentPhotoShop[creado_por]" value="<%= session.user.username %>" hidden/><br>
	<button type="submit">Enviar Comentario</button>		
</form>
<a href="/shop/<%= shopid %>"><button>Cancelar</button></a>