<h2>Bienvenido a Novedades</h2>
<p>Mostrar fotos, videos y spots mas recientes</p>
<p>enlace a registrarte</p>
<p>enlace a logearte</p>
<p>busqueda de amigos(necesario registro)</p>
<p>mi perfil(necesario registro)</p>
<p>crear spot(necesario registro)</p>
<p>subir foto(necesario registro)</p>