<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SpotKate</title>
		<link rel='stylesheet' href="/stylesheets/layout.css"/>
		<link rel="stylesheet" 
			type="text/css" 
			media="only screen and (min-width:530px) and (min-device-width:481px)"
			href="/stylesheets/wide.css"/>
		<link rel="stylesheet" 
			type="text/css"
			media="only screen and (max-width:480px)"
			href="/stylesheets/smartphone.css"/>
		</head>
	<body>
		<div id="page-wrap">
			<header class="main" id="h1">
				<% if(!session.user){ %>
				<span class="right"><a href="/login">Login</a></span>
				<% }else{ %>
				<span class="right"> <%= session.user.username %> <a href="/logout">Logout</a></span>
				<% } %>	
				<a href="/spot/new"><button class="left" type="button">Crea un Spot</button></a>
				<h1>SpotKate</h1>
				<form method="get" action="/result">
					<label for="bus" class="rem">Busqueda:</label>
					<input type="text" name="search" placeholder="Escriba aqui">
					<select name="donde">
  				 		<option value="todos">En todo</option>
 		 				<option value="spot">En spots</option>
 		 				<option value="shop">En shops</option>
 		 				<option value="user">En usuarios</option> 		 				
					</select>
					<input type="submit" value="buscar">
					</form>				
				</header>
			<nav class="main" id="n1" role="navigation">				
				<span><a href="/">Novedades</a></span>
				<span><a href="/maps">Mapa</a></span>
				<span><a href="/spots">Spots</a></span>
				<span><a href="/shops">Shops</a></span>
				</nav>
			<section class="main" id="s1">
				<% if(errors.length){ %>
				<span id='ErrorMsgs'>
				Corregir errores:<br>
				<% for (var i in errors){ %>
				<span><%= errors[i].message %></span><br>
				<% } %>
				</span>
				<% } %>
				<div><%- body %></div>
				</section>
			<footer class="main" id="f1">
				<h2>Creado por Skaters para Skaters</h2>
				</footer>
			</div>
		</body>
	</html>