<h2>Crea un Usuario:</h2>
<form method="post" action="/user">
	<label for="preg" class="rem">Username:</label><br>
	<input type="text" id="usernameedit" name="user[username]" placeholder="username..."><br>
	<label for="res" class="rem">Password:</label><br>
	<input type="password" id="passwordedit" name="user[password]"><br>
	<a href="/"><button type="button">Cancelar</button></a>
	<input type="submit" value="Crear">
</form>
