<h2>Crea un Usuario:</h2>
<form name="formu" method="post" action="/user" enctype="multipart/form-data">
	<label for="preg" class="rem">Username:</label><br>
	<input type="text" id="usernameedit" name="user[username]" placeholder="username..." required="true" required pattern="^([a-zA-Z0-9@*#]{6,15})$" ><br>
	<label for="res" class="rem">Password:</label><br>
	<input type="password" id="passwordedit1" name="user[password]" required="true" required pattern="^([a-zA-Z0-9@*#]{6,15})$"><br>
	<label for="res" class="rem">Repite el password:</label><br>
	<input type="password" id="passwordedit2" name="comp[password]" required="true" required pattern="^([a-zA-Z0-9@*#]{6,15})$"><br>
	<label for="preg" class="rem">Dinos en que ciudad patinas:</label><br>
	<input type="text" id="ciudad" name="user[ciudad]"> <br>
	<label for="res" class="rem">Dinos como te impulsas:</label><br>
	<select id="userpush" name="user[push]">
		<option value="regular">Regular</option>
		<option value="goofy">Goofy</option>
	</select><br>
	<label for="res" class="rem">Que prefires:</label><br>
	<select id="usertipo" name="user[tipo]">
		<option value="skatepark">Skatepark</option>
		<option value="street">Street</option>
		<option value="pool">Pool</option>
	</select><br>
	<label for="res" class="rem">Cual es tu setup favorito?</label><br>
	<input type="text" id="tabla" name="user[tabla]" placeholder="Aqui la marca de tabla..."><br>
	<input type="text" id="ejes" name="user[ejes]" placeholder="Aqui la marca de ejes..."><br>
	<input type="text" id="ruedas" name="user[ruedas]" placeholder="Aqui la marca de ruedas..."><br>
	<input type="text" id="rodatas" name="user[rodatas]" placeholder="Aqui la marca de rodatas..."><br>	
	<label for="res" class="rem">Patinas para alguna marca o tienda, compartelo:</label><br>
	<input type="text" id="rideFor" name="user[rideFor]"><br>
	<label for="res" class="rem">Por ultimo dinos cual es tu truco preferido:</label><br>
	<input type="text" id="trick" name="user[trick]" placeholder="Truco preferido..."><br>	
	<p> Selecciona la imagen: </p>
    <input type="file" name='photo' accept="image/*"><br>
	<a href="/"><button type="button">Cancelar</button></a>
	<input type="submit" value="Crear">
</form>
<script>
	$(function(){
	$('#passwordedit1').keyup(function(){
		var _this = $('#passwordedit1');
		var pass_1 = $('#passwordedit1').val();
                _this.attr('style', 'background:white');
		if(pass_1.charAt(0) == ' '){
			_this.attr('style', 'background:#FF4A4A');
		}
 
		if(_this.val() == ''){
			_this.attr('style', 'background:#FF4A4A');
		}
	});
 
	$('#passwordedit2').keyup(function(){
		var pass_1 = $('#passwordedit1').val();
		var pass_2 = $('#passwordedit2').val();
		var _this = $('#passwordedit2');
                _this.attr('style', 'background:white');
		if(pass_1 != pass_2 && pass_2 != ''){
			_this.attr('style', 'background:#FF4A4A');
		}
	});
	});
</script>
