<h2><%= user.username %></h2>
<p>Username: <%= user.username %>.</p>
<p>Creado el: <%= user.createdAt %>.</p>
<h2><a href="javascript:history.back()">volver</a></h2>
<p>ver en el mapa como opcion</p>
<p>Aqui estarian las fotos</p>
