.cabezera{
  display: block;
  margin: 0;
  padding: 0;
  position: relative; /* posición absoluta a navegador */
  top: 0;             /* ajusta a borde de navegador */
  left: 0%;
  right: 0;
  height: 10%;
}
.titulo{
  font-family: 'Convergence';
  font-size: 90px;
  text-align: center;
  letter-spacing: -6px;
  margin: 8px 0;
  text-shadow: 0 0 1px #000;
}

#map{
  display: block;
  margin: auto;
  height: 500px;
  width: 1000px; 
  box-shadow: 0 0 20px #999;
  background:#fff;
  border-radius:2px;
  
}
#controles{
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  top:20%;
  left: 65%;
  right: 5%;
  bottom: 70%;
}
#limpia{
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  top:5%;
  left: 5%;
  right: 0%;
  bottom: 20%;
  box-shadow: 0 0 20px #999;
  background:#fff;
  border-radius:2px;
}
