<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<title>Spotkate</title>
	</head>
	<body>
		<h2>Spotkate: Todo para el engorile diario</h2>
		<p>Bienvenido <%= respuesta %> te esperabamos...</P>
		<a href="/quizes/question">Salir</a>
	</body>
</html>