<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<title>Spotkate</title>
	</head>
	<body>
		<h2>Spotkate: Todo para el engorile diario</h2>
		<form method="get" action="/quizes/answer">
		<p>Saludos rider!! <%= pregunta %></p>
		<input type="text" name="respuesta" placeholder="Responda aqui"/>
		<input type="submit" value="Enviar">
		</form>
	</body>
</html>