<h2>Bienvenido a las tiendas</h1>
<p>Mostrar tiendas mas recientes</p>
<p>buscador de tiendas por marca, zona o datos</p>
<p>enlace a registrarte</p>
<p>enlace a logearte</p>
<p>busqueda de amigos(necesario registro)</p>
<p>mi perfil(necesario registro)</p>
<p>crear spot(necesario registro)</p>
<p>subir foto(necesario registro)</p>