<H2>Añadir Comentario</h2>
<form method="post" action="/shop/<%= shopid %>/comments">
	<input type="text" id="comShop" name="commentShop[texto]" placeholder="escribe aqui..."/><br>
	<input type="text" name="commentShop[creado_por]" value="<%= session.user.username %>" hidden/><br>
	<button type="submit">Enviar Comentario</button>		
</form>
