<h2>Bienvenido al mapa</h2>
<p>Mostrar mapa con todas los spots y tiendas</p>
<p>buscador de ciudades, calles etc</p>
<p>buscador de spots y tiendas</p>
<p>enlace a registrarte</p>
<p>enlace a logearte</p>
<p>filtro solo spots</p>
<p>filtro solo shops</p>
<p>mi perfil(necesario registro)</p>
<p>subir foto(necesario registro)</p>