<h2>Bienvenido a los spots</h2>
<h2>Spots:</h2>
<h2><%= spots %></h2>
<p>bucador de spots por nombre o datos</p>
<p>enlace a registrarte</p>
<p>enlace a logearte</p>
<p>mi perfil(necesario registro)</p>
<p>crear spot(necesario registro)</p>
<p>subir foto(necesario registro)</p>