<h2>Crea un Spot</h2>
<form method="post" action="/spot/create">
	<label for="nomsp" class="rem">Pon un nombre al spot:</label>
	<input type="text" id="nomsp" name="spot[nombre]" placeholder="nombre..." required="true" size="60" maxlength="255"/><br>
	<label for="dirsp" class="rem">Dinos donde esta el spot:</label>
	<input type="text" id="dirsp" name="spot[direccion]" placeholder="direccion..." required="true" size="60" maxlength="255"/><br>
	<label for="dessp" class="rem">Describenos el spot:</label>
	<input type="text" id="dessp" name="spot[descripcion]" placeholder="descripcion..." required="true" size="60" maxlength="255"/><br>
	<label for="tisp" class="rem">skatepark o street:</label>
	<select id="tisp" name="spot[tipo]" required="true">
		<option value="skatepark">Skatepark</option>
		<option value="street">Street</option>
	</select><br>
	<label for="crpsp" class="rem">Dinos tu nick:</label>
	<input type="text" id="crpsp" name="spot[creado_por]" placeholder="nick..." required="true" size="60" maxlength="255"/><br>
	<a href="/spots"><button type="button">Cancelar</button></a>
	<input type="submit" value="Crear Spot">	
</form>